  <% @users.each do |user| %>
  <div class = 'text-center'>
    <tr>
      <td><%= user.name %></td>
      &nbsp;&nbsp;
      <td><%= user.email %></td>
      &nbsp;&nbsp;
      <td><%= user.role %></td>
      <td><%= link_to 'Show', user_path(user) %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user_path(user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td><br>
    </tr>
    </div>
  <% end %>