<h1>Sign up</h1>

    <div class="span6 offset3">
        <%= form_for(@user) do |f| %>
        
            <h3>
            <%= f.label :name %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.text_field :name %>
            </h3>
            
            <h3>
            <%= f.label :sex %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.text_field :sex %>
            </h3>
            
            <h3>
            <%= f.label :email %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.text_field :email %>
            </h3>
            
            <h3>
            <%= f.label :password %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.password_field :password %>
            </h3>
            
            <h3>
            <%= f.label :password_confirmation, "Confirmation" %>
            &nbsp;
            <%= f.password_field :password_confirmation %>
            </h3>
            
            <h3>
            <%= f.label :phonenumber %>
            <%= f.text_field :phonenumber %>
            </h1>
            
            <h3>
            <%= f.label :status %>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <%= f.text_field :status %>
            </h3>
            <%= f.submit "Create my account", class: "btn btn-large btn-primary" %>
        <% end %>
    </div>