<h1>User_Info</h1>
<% provide(:title, @user.name) %>

<div class="row">
  <aside class="span4">
    <section>
      <h2>
        &nbsp;
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h2>
    </section>
    </aside>
</div>

  <h3>
    <strong>Email:</strong>
    <%= @user.email %>
  </h3>
    
  <h3>
    <strong>Sex:</strong>
    <%= @user.sex %>
  </h3>
  
  <h3>
    <strong>role:</strong>
    <%= @user.role %>
  </h3>
  
  <h3>
    <strong>Phonenumber:</strong>
    <%= @user.phonenumber %>
  </h3>
  <h3>
    <strong>Status:</strong>
    <%= @user.status %>
  </h3>
  
</div>

<h3>&nbsp;
<%= link_to "Edit", edit_user_path(@user), class: "btn btn-primary "%></h3>



     
     
